question1.exe 
question2.exe
question3.exe 
question4.exe 
question5.exe 
question6.exe 
question7.exe 
question8.exe 
question9.exe
question10.exe
question11.exe
question12.exe
question13.exe
question14.exe
question15.exe
question16.exe
question17.exe
question18.exe
lista_vetores
.vscode
head.exe